@model LoginInfo
@{
    ViewData["Title"] = "멤버십 로그인";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<div class="text-info">@Html.Raw(TempData["Message"])</div>

<div class="row">
    <div class="col-md-4">@* .Net Core 3.1에서 asp-action="LoginAsync" 속성값이 다음과 같이 변경됨.*@
        <form method="post" asp-route-returnurl="@ViewData["ReturnUrl"]" asp-controller="Membership" asp-action="Login" onsubmit="btnLogin.disabled = true; return true;">
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="form-group">
                @Html.DisplayNameFor(m => m.UserId)
                <input type="text" class="form-control" asp-for="UserId" placeholder="User id" autofocus />
                <span class="text-danger" asp-validation-for="UserId"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(m => m.Password)
                <input type="password" class="form-control" asp-for="Password" placeholder="Password" />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="checkbox">
                <label asp-for="RememberMe">
                    <input type="checkbox" asp-for="RememberMe" placeholder="Remember me" />
                    @Html.DisplayNameFor(m => m.RememberMe)
                </label>
                <span class="text-danger" asp-validation-for="RememberMe"></span>
            </div>
            <button type="submit" name="btnLogin" class="btn btn-lg btn-success btn-block">멤버십 로그인</button>
            <p style="padding-top:10px;"><a asp-route-returnurl="@ViewData["ReturnUrl"]" asp-controller="Membership" asp-action="Register" class="btn btn-primary btn-block">멤버십 사용자 가입</a></p>
        </form>
    </div>
</div>